<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Login</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="../styles/login.style.css">
  <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-controller="LoginController">
  <h1>Login</h1>
  <form ng-submit="login($event)">
    <input type="text" ng-model="username" placeholder="Username" required>
    <input type="password" ng-model="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  <div ng-show="error" class="error-message">{{ errorMessage }}</div>
</body>

</html>