<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="../styles/main.style.css">
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="loginController.js"></script>
    <script src="mainController.js"></script>
</head>

<body ng-controller="MainController">
    <div class="app-container">
        <div class="sidebar">
            <div class="channels">
                <h2>Channels</h2>
                <ul>
                    <li ng-repeat="channel in channels">
                        <a ng-href="/#!/main/channel/{{ channel._id }}" ng-click="selectChannel(channel)">{{ channel.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="members">
                <h2>Members</h2>
                <ul>
                    <li ng-repeat="user in users">
                        <a ng-href="/#!/main/user/{{ user._id }}" ng-click="selectUser(user)">{{ user.username }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="conversation">
                <div ng-repeat="message in messages">
                    <p><strong>{{ message.from.username }}:</strong> {{ message.content }}</p>
                </div>
            </div>
            <div class="message-input">
                <input type="text" ng-model="newMessage" placeholder="Type your message...">
                <button ng-click="sendMessage()">Send</button>
            </div>
        </div>
    </div>

</body>

</html>